#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASS "your_wifi_password"

#define SERVER "http://your-ngrok-url.ngrok-free.app"
#define HTTP_USERNAME "your_username"
#define HTTP_PASSWORD "your_password"

#define CHAT_NAME "CALC_USER"

// Comment out if not using HTTPS (e.g. not using Ngrok or using local server)
// #define SECURE
